{{!-- <p>{{input type="text" value=title}}</p>
<p>{{input type="text" value=excerpt}}</p>
<p>{{textarea value=body}}</p> --}}

<p>{{input type="text" value=title placeholder="Title"}}</p>
<p>{{input type="text" value=author  placeholder="Author"}}</p>
<p>{{input type="text" value=excerpt  placeholder="Excerpt"}}</p>    
<p>{{textarea value=body  placeholder="Body"}}</p>
<button class="btn btn-default"  {{action 'doneEditing'}}>Done</button>
