<div {{bind-attr class=":control-group validateTitle"}}>   
	<p>{{input type="text" id="titleInput" value=title placeholder="Title"}}
		<span></span>
	</p>
</div>
<div {{bind-attr class=":control-group validateAuthor"}}>
	<p>{{input type="text" id="authorInput" value=author  placeholder="Author"}}
		<span></span>
	</p>
</div>
<div {{bind-attr class=":control-group validateExcerpt"}}>
	<p>{{input type="text" id="excerptInput" value=excerpt  placeholder="Excerpt"}}
		<span></span>
	</p>    
</div>
<div {{bind-attr class=":control-group validateBody"}}>
	<p>{{textarea id="bodyInput" value=body  placeholder="Body"}}
		<span></span>
	</p>
</div>
<button class="btn btn-default"  {{action 'doneEditing' title}}>Done</button>
<button class="btn btn-default"  {{action 'cancelEditing'}}>Cancel</button>

